.card {
  width: 5rem;
  border-radius: 0.3rem;
  animation: fallIn 0.5s ease-out;
  transition: 100ms ease-out;
  box-shadow: 0 0 0.2rem black;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0.5rem black;
}

.card:active {
  transform: scale(1);
}

@keyframes fallIn {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
